<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách nhân viên</title>
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
    <div class="app">
        <div class="header">
            <div class="header__sidearea">
                <div class="header__navicon mi mi-24 mi-header-nav"></div>
                <div class="header__applogo"></div>
            </div>
            <div class="header__mainarea">
                <div class="header__leftarea">
                    <div class="header__sidebaric mi mi-24 mi-header-three-line"></div>
                    <div class="header__title">
                        <div class="header__brandname">
                            CÔNG TY TNNH SẢN XUẤT - THƯƠNG MẠI - DỊCH VỤ QUI PHÚC
                        </div>
                        <div class="header__title__arrow mi mi-14 mi-header-icondown"></div>
                    </div>
    
                </div>
                <div class="header__rightarea">
                    <div class="header__noti mi mi-24 mi-header-bell"></div>
                    <div class="header__user">
                        <div class="header__avatar"></div>
                        <div class="header__username">Nguyễn Văn Nam</div>
                        <div class="header__user__arrow mi mi-24 mi-header-arrowdown"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mainarea">
            <div class="sidebar">
                <div class="sidebar__main">
                    <div class="sidebar__item sidebar__item--highlight">
                        <div class="item__icon mi mi-24 mi-sidebar-dashboard"></div>
                        <div class="item__text">Tổng quan</div>
                    </div>
                    <div class="sidebar__item item--profile">
                        <div class="item__icon mi mi-24 mi-sidebar-cash"></div>
                        <div class="item__text">Tiền mặt</div>
                    </div>
                    
                    <div class="sidebar__item item--contract">
                        <div class="item__icon mi mi-24 mi-sidebar-bank"></div>
                        <div class="item__text">Tiền gửi</div>
                    </div>
                    <div class="sidebar__item item--overview">
                        <div class="item__icon mi mi-24 mi-sidebar-pu"></div>
                        <div class="item__text">Mua hàng</div>
                    </div>
                    <div class="sidebar__item item--profile">
                        <div class="item__icon mi mi-24 mi-sidebar-sale"></div>
                        <div class="item__text">Bán hàng</div>
                    </div>
                    
                    <div class="sidebar__item item--contract">
                        <div class="item__icon mi mi-24 mi-sidebar-invoice"></div>
                        <div class="item__text">Quản lý hóa đơn</div>
                    </div>
                    <div class="sidebar__item item--contract">
                        <div class="item__icon mi mi-24 mi-sidebar-stock"></div>
                        <div class="item__text">Kho</div>
                    </div>
                    <div class="sidebar__item item--contract">
                        <div class="item__icon mi mi-24 mi-sidebar-tools"></div>
                        <div class="item__text">Công cụ dụng cụ</div>
                    </div>
                    <div class="sidebar__item item--contract">
                        <div class="item__icon mi mi-24 mi-sidebar-fixed-assets"></div>
                        <div class="item__text">Tài sản cố định</div>
                    </div>
                    <div class="sidebar__item item--contract">
                        <div class="item__icon mi mi-24 mi-sidebar-tax"></div>
                        <div class="item__text">Thuế</div>
                    </div>
                    <div class="sidebar__item item--contract">
                        <div class="item__icon mi mi-24 mi-sidebar-price"></div>
                        <div class="item__text">Giá thành</div>
                    </div>
                    <div class="sidebar__item item--contract">
                        <div class="item__icon mi mi-24 mi-sidebar-general"></div>
                        <div class="item__text">Tổng hợp</div>
                    </div>
                    <div class="sidebar__item item--contract">
                        <div class="item__icon mi mi-24 mi-sidebar-budget"></div>
                        <div class="item__text">Ngân sách</div>
                    </div>
                    <div class="sidebar__item item--contract">
                        <div class="item__icon mi mi-24 mi-sidebar-report"></div>
                        <div class="item__text">Báo cáo</div>
                    </div>
                    <div class="sidebar__item item--contract">
                        <div class="item__icon mi mi-24 mi-sidebar-finance"></div>
                        <div class="item__text">Phân tích tài chính</div>
                    </div>
                
                </div>
                <div class="sidebar__footer">
                    <div class="item__icon mi mi-24 mi-sidebar-left-arrow"></div>
                    <div class="item__text">Thu gọn</div>
                </div>
            </div>
            <div class="pcontent">
                <div class="pcontent__heading">
                    <div class="pcontent__title">
                        Nhân viên
                    </div>
                    <button class="btn__add btn btn--medium btn--primary">Thêm mới nhân viên</button>
                </div>
                <div class="pcontent__container">
                    <div class="pcontent__searchbar">
                        <div class="txtfield txtfield--search">
                            <div class="txtfield__textbox">
                                <input class="txtfield__input"type="text" placeholder="Tìm kiếm theo mã, tên nhân viên">
                                <div class="txtfield__icon"></div>
                            </div>
                        </div>
                        <button class="btn btn--medium mi mi-36 mi-refresh"></button>
                    </div>
                    
                    <div class="pcontent__tablebox">
                        <div class="table__content">

                        </div>
                        <div class="table__pagination"></div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>