.pcontent {
    flex: 1;
    height: calc(100vh - 56px);
    min-width: 800px;
    padding: 24px;
    display: flex;
    flex-direction: column;
}


/* Heading */

.pcontent__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.pcontent__title {
    flex-shrink: 0;
    font-size: var(--fs-head1);
    font-weight: 700;
    line-height: var(--lh-head1);
}

/* Container */

.pcontent__container {
    width: 100%;
    flex: 1;
    min-height: 200px;
    overflow: hidden;
    margin-top: 24px;
    background-color: #fff;
    padding: 24px 24px 12px 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Search bar */
.pcontent__searchbar {
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
    column-gap: 24px;
    overflow: hidden;
}

.pcontent__searchbar .txtfield__input {
    width: 300px;
}
/* Tablebox */

.pcontent__tablebox {
    width: 100%;
    min-height: 200px;
    flex: 1;
    margin-top: 24px;
    max-width: 100%;
    overflow: auto;
    position: relative;
}

.pcontent__tablebox::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
}

.pcontent__tablebox::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.pcontent__tablebox::-webkit-scrollbar-thumb {
    background-color: var(--clr-t-border);
}


