<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M - Components</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>

    <div class="m-heading">Datepicker</div>
    <div class="m-row margin-left20">
        <div class="m-row">
            <label for="">1. Datepicker</label>
            <div class="dpicker">
                <div class="dpicker__selector">
                    <div class="dpicker__input">
                        <input type="text" placeholder="DD/MM/YYYY">
                        <div class="dpicker__icon mi mi-24 mi-calendar"></div>
                    </div>
                </div>
                <div class="dpicker__box">
                    <div class="dpicker__header">
                        <div class="dp__header__left">
                            <div class="dp__date">Tháng 5, 2019</div>
                            <div class="dp__expandic mi mi-14 mi-arrowdown"></div>
                        </div>
                        <div class="dp__header__right">
                            <div class="dp__prev mi mi-24 mi-arrowleft"></div>
                            <div class="dp__next mi mi-24 mi-arrowright"></div>
                        </div>
                    </div>
                    <div class="dpicker__body">
                        <div class="dpicker__yearlist display--none">
                            <div class="yearlist__tablebox">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td><div class="year-item"></div>2023</td>
                                            <td><div class="year-item"></div>2022</td>
                                            <td><div class="year-item"></div>2021</td>
                                            <td><div class="year-item"></div>2020</td>
                                        </tr>
                                        <tr>
                                            <td><div class="year-item"></div>2019</td>
                                            <td><div class="year-item"></div>2018</td>
                                            <td><div class="year-item"></div>2017</td>
                                            <td><div class="year-item"></div>2016</td>
                                        </tr>
                                        <tr>
                                            <td><div class="year-item"></div>2015</td>
                                            <td><div class="year-item"></div>2014</td>
                                            <td><div class="year-item"></div>2013</td>
                                            <td><div class="year-item"></div>2012</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="dpicker__cancelbox">
                                <button class="dp__cancel">Hủy bỏ</button>
                            </div>
                        </div>
                        <div class="dpicker__daylist">
                            <div class="daylist__table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>T2</th>
                                            <th>T3</th>
                                            <th>T4</th>
                                            <th>T5</th>
                                            <th>T6</th>
                                            <th>T7</th>
                                            <th>CN</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><div class="date__item"></div></td>
                                            <td><div class="date__item"></div></td>
                                            <td><div class="date__item"></div>1</td>
                                            <td><div class="date__item"></div>2</td>
                                            <td><div class="date__item"></div>3</td>
                                            <td><div class="date__item"></div>4</td>
                                            <td><div class="date__item"></div>5</td>
                                        </tr>
                                        <tr>
                                            <td><div class="date__item"></div>6</td>
                                            <td><div class="date__item"></div>7</td>
                                            <td><div class="date__item"></div>8</td>
                                            <td><div class="date__item"></div>9</td>
                                            <td><div class="date__item"></div>10</td>
                                            <td><div class="date__item"></div>11</td>
                                            <td><div class="date__item"></div>12</td>
                                        </tr>
                                        <tr>
                                            <td><div class="date__item"></div>13</td>
                                            <td><div class="date__item"></div>14</td>
                                            <td><div class="date__item"></div>15</td>
                                            <td><div class="date__item"></div>16</td>
                                            <td><div class="date__item"></div>17</td>
                                            <td><div class="date__item"></div>18</td>
                                            <td><div class="date__item"></div>19</td>
                                        </tr>
                                        <tr>
                                            <td><div class="date__item"></div>20</td>
                                            <td><div class="date__item"></div>21</td>
                                            <td><div class="date__item"></div>22</td>
                                            <td><div class="date__item"></div>23</td>
                                            <td><div class="date__item"></div>24</td>
                                            <td><div class="date__item"></div>25</td>
                                            <td><div class="date__item"></div>26</td>
                                        </tr>
                                        <tr>
                                            <td><div class="date__item"></div>27</td>
                                            <td><div class="date__item"></div>28</td>
                                            <td><div class="date__item"></div>29</td>
                                            <td><div class="date__item"></div>30</td>
                                            <td><div class="date__item"></div>31</td>
                                            <td><div class="date__item"></div></td>
                                            <td><div class="date__item"></div></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="dpicker__curdate">
                                <button class="dp__now">Hôm nay</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="m-heading">Radio input</div>
    <div class="m-row margin-left20">
        <div class="m-row">
            <label for="">1. Radio input</label>
            <div class="input--radio">
                <div class="radio__label">
                    Giới tính
                </div>
                <div class="radio__container">
                    <div class="radio__item">
                        <input type="radio" name="gender" id="">
                        <label for="">Nam</label>
                    </div>
                    <div class="radio__item">
                        <input type="radio" name="gender" id="">
                        <label for="">Nữ</label>
                    </div>
                    <div class="radio__item">
                        <input type="radio" name="gender" id="">
                        <label for="">Khác</label>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    <div class="m-heading">Button</div>
    <div class="m-row margin-left20">
        <div class="m-row">
            <label for="">1. Primary button: default, hover, click</label>
        </div>
        <span><button class="btn btn--medium btn--primary">Thêm mới nhân viên</button></span>
        <span><button class="btn btn--medium btn--primary">Cất và thêm</button></span>
        <span><button class="btn btn--medium btn--primary">Đồng ý</button></span>
    </div>
    <div class="m-row margin-left20">
        <div class="m-row">
            <label for="">2. Primary button: disabled</label>
        </div>
        <div class="m-row">
            <button  class="btn btn--medium btn--primary" disabled>Button</button>
        </div>
    </div>
    <div class="m-row margin-left20">
        <div class="m-row">
            <label for="">3. Secondary button: default, hover, click</label>s
        </div>
        <span><button class="btn btn--medium btn--secondary">Button</button></span>
        <span><button class="btn btn--medium btn--secondary">Cất</button></span>
        <span><button class="btn btn--medium btn--secondary">Hủy</button></span>
    </div>
    <div class="m-row margin-left20">
        <div class="m-row">
            <label for="">4. Secondary button: disabled</label>s
        </div>
        <div class="m-row">
            <button class="btn btn--medium btn--secondary" disabled>Button</button>
        </div>
    </div>
    <div class="m-row margin-left20">
        <div class="m-row">
            <label for="">5. Icon button: </label>
        </div>
        <span><button class="btn btn--medium btn--refresh"></button></span>
        <span><button class="btn btn--medium btn--notification"></button></span>
        <span><button class="btn btn--medium btn--help"></button></span>
        <span><button class="btn btn--medium btn--close"></button></span>
    </div>
    <div class="m-heading">Textfield</div>
    <div class="m-row margin-left20">
        <div class="m-row">
            <label for="">1. Textfield: normal, hover, focus</label>
        </div>
        <div class="txtfield">
            <div class="txtfield__label">Field label</div>
            <div class="txtfield__textbox">
                <input class="txtfield__input"type="text" placeholder="Place holder">
                <div class="txtfield__icon"></div>
            </div>
            <div class="txtfield__noti noti">
                Tên trường không được để trống
            </div>
        </div>
    </div>
    <div class="m-row margin-left20" style="width: 100%;">
        <div class="m-row">
            <label for="">2. Textfield: error, read only</label>
        </div>
        <div class="common-flex-container">
            <div class="m-row">
                <div class="txtfield error-noti">
                    <div class="txtfield__label">Field label</div>
                    <div class="txtfield__textbox">
                        <input class="txtfield__input"type="text" placeholder="">
                        <div class="txtfield__icon"></div>
                    </div>
                    <div class="txtfield__noti noti">
                        Tên trường không được để trống
                    </div>
                </div>
            </div>
            <div class="m-row">
                <div class="txtfield">
                    <div class="txtfield__label">Field label</div>
                    <div class="txtfield__textbox">
                        <input class="txtfield__input"type="text" placeholder="" value="misa.amis.vn" disabled>
                        <div class="txtfield__icon"></div>
                    </div>
                    <div class="txtfield__noti noti">
                        Tên trường không được để trống
                    </div>
                </div>
            </div>
        </div>
            
    </div>
    <div class="m-row margin-left20" style="width: 100%;">
        <div class="m-row">
            <label for="">3. Textfield: validate, verifying</label>
        </div>
        <div class="common-flex-container">
            <div class="m-row">
                <div class="txtfield txtfield--validate">
                    <div class="txtfield__label">Field label</div>
                    <div class="txtfield__textbox">
                        <input class="txtfield__input"type="text" placeholder="" value="Some things">
                        <div class="txtfield__icon"></div>
                    </div>
                    <div class="txtfield__noti noti">
                        Tên trường không được để trống
                    </div>
                </div>
            </div>
            <div class="m-row">
                <div class="txtfield txtfield--verifying">
                    <div class="txtfield__label">Field label</div>
                    <div class="txtfield__textbox">
                        <input class="txtfield__input"type="text" placeholder="" value="Some things">
                        <div class="txtfield__icon"></div>
                    </div>
                    <div class="txtfield__noti noti">
                        Tên trường không được để trống
                    </div>
                </div>
            </div>
        </div>
            
    </div>
    <div class="m-row margin-left20" style="width: 100%;">
        <div class="m-row">
            <label for="">4. Textfield: action, hover, press</label>
        </div>
        <div class="common-flex-container">
            <div class="m-row">
                <div class="txtfield txtfield--search">
                    <div class="txtfield__label">Field label</div>
                    <div class="txtfield__textbox">
                        <input class="txtfield__input"type="text" placeholder="Tìm kiếm theo mã, tên nhân viên">
                        <div class="txtfield__icon"></div>
                    </div>
                    <div class="txtfield__noti noti">
                        Tên trường không được để trống
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-heading">Dropdownlist</div>
    <div class="m-row margin-left20">
        <div class="m-row">
            <label for="">1. Dropdownlist: normal, hover, show options</label>
        </div>
        <div class="dropdown">
            <div class="dropdown__label">
                <label for="">Field label</label>
            </div>
            <div class="dropdown__main">
                <div class="dropdown__select">Chọn thành phố</div>
                <div class="dropdown__optionbox">
                    <ul class="dropdown__optionlist">
                        <li class="option">
                            <div>Hà Nội</div>
                            <i class="fas fa-check"></i>
                        </li>
                        <li class="option">
                            <div>TP.Hồ Chí Minh</div>
                            <i class="fas fa-check"></i>
                        </li>
                        <li class="option">
                            <div>Đà Nẵng</div>
                            <i class="fas fa-check"></i>
                        </li>
                        <li class="option">
                            <div>Hải Phòng</div>
                            <i class="fas fa-check"></i>
                        </li>
                        <li class="option">
                            <div>Hải Dương</div>
                            <i class="fas fa-check"></i>
                        </li>
                        <li class="option">
                            <div>Nha Trang</div>
                            <i class="fas fa-check"></i>
                        </li>
                        <li class="option">
                            <div>Bình Định</div>
                            <i class="fas fa-check"></i>
                        </li>
                        <li class="option">
                            <div>Ninh Thuận</div>
                            <i class="fas fa-check"></i>
                        </li>
                    </ul>
                </div>
                <div class="dropdown__noti">Error message</div>
            </div>
        </div>
    </div>
    <div class="m-heading">Context menu</div>
    <div class="m-row margin-left20">
        <div class="m-row">
            <label for="">1. Context menu</label>
        </div>
        <div class="cmenu">
            <div class="cmenu__group">
                <div class="cmenu__item">
                    <div class="item__icon icon--history"></div>
                    <div class="item__text">History</div>
                </div>
                <div class="cmenu__item">
                    <div class="item__icon icon--download"></div>
                    <div class="item__text">Downloads</div>
                </div>
                <div class="cmenu__item">
                    <div class="item__icon icon--bookmark"></div>
                    <div class="item__text">Bookmarks</div>
                </div>
                <div class="cmenu__item">
                    <div class="item__icon icon--recent"></div>
                    <div class="item__text">Recent tabs</div>
                </div>
            </div>
            <hr></hr>
            <div class="cmenu__group">
                <div class="cmenu__item">
                    <div class="item__icon icon--share"></i></div>
                    <div class="item__text">Share</div>
                </div>
                <div class="cmenu__item">
                    <div class="item__icon icon--setting"></div>
                    <div class="item__text">Settings</div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-heading">Sidebar</div>
    <div class="m-row margin-left20">
        <div class="m-row">
            <label for="">1. Sidebar </label>
        </div>
        <div class="sidebar">
            <div class="sidebar__main">
                <div class="sidebar__item sidebar__item--highlight item--overview">
                    <div class="item__icon"></div>
                    <div class="item__text">Tổng quan</div>
                </div>
                <div class="sidebar__item sidebar__item--highlight  item--profile">
                    <div class="item__icon"></div>
                    <div class="item__text">Hồ sơ</div>
                </div>
                
                <div class="sidebar__item sidebar__item--highlight item--contract">
                    <div class="item__icon"></div>
                    <div class="item__text">Hợp đồng</div>
                </div>
                <div class="sidebar__item item--overview">
                    <div class="item__icon"></div>
                    <div class="item__text">Tổng quan</div>
                </div>
                <div class="sidebar__item item--profile">
                    <div class="item__icon"></div>
                    <div class="item__text">Hồ sơ</div>
                </div>
                
                <div class="sidebar__item item--contract">
                    <div class="item__icon"></div>
                    <div class="item__text">Hợp đồng</div>
                </div>
            
            </div>
            <div class="sidebar__footer">
                <div class="item__icon"></div>
                <div class="item__text">Thu gọn</div>
            </div>
        </div>
    </div>

    <div class="m-heading">Combobox</div>
    <div class="m-row margin-left20">
        <div class="m-row">
            <label for="">1. Combobox</label>
        </div>
        <div class="cbox">
            <div class="cbox__label">Field label</div>
            <div class="cbox__select">
                <div class="select__box">
                    <div class="select__input">
                        <input type="text" value="Type here">
                    </div>
                    <button class="select__button"></button>
                </div>
                <div class="select__optionbox">
                    <div class="optionlist">
                        <div class="option__item item--selected">
                            <div class="option__text">Hà Nội</div>
                            <div class="option__icon"></div>
                        </div>
                        <div class="option__item">
                            <div class="option__text">TP.Hồ Chí Minh</div>
                            <div class="option__icon"></div>
                        </div>
                        <div class="option__item">
                            <div class="option__text">Đà Nẵng</div>
                            <div class="option__icon"></div>
                        </div>
                        <div class="option__item">
                            <div class="option__text">Hà Nội</div>
                            <div class="option__icon"></div>
                        </div>
                        <div class="option__item">
                            <div class="option__text">TP.Hồ Chí Minh</div>
                            <div class="option__icon"></div>
                        </div>
                        <div class="option__item">
                            <div class="option__text">Đà Nẵng</div>
                            <div class="option__icon"></div>
                        </div>
                        <div class="option__item">
                            <div class="option__text">Hà Nội</div>
                            <div class="option__icon"></div>
                        </div>
                        <div class="option__item">
                            <div class="option__text">TP.Hồ Chí Minh</div>
                            <div class="option__icon"></div>
                        </div>
                        <div class="option__item">
                            <div class="option__text">Đà Nẵng</div>
                            <div class="option__icon"></div>
                        </div>
                        <div class="option__item">
                            <div class="option__text">Hà Nội</div>
                            <div class="option__icon"></div>
                        </div>
                        <div class="option__item">
                            <div class="option__text">TP.Hồ Chí Minh</div>
                            <div class="option__icon"></div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="cbox__noti noti"></div>
        </div>
    </div>

    
    <script src="../../js/components.js"></script>
</body>
</html>