.m-table {
    min-width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: separate;
    transform: translate3d(0, 0, 0);
}

.m-table th, .m-table td {
    border-style: solid;
    border-width: 1px;
    border-left: none;
    border-top: none;
    border-bottom-color: #c7c7c7;
    border-right-color: #c7c7c7;
    height: 48px;
    padding: 0 12px;
}


.m-table thead th {   
    background-color: #e5e8ec;
    position: sticky;
    top: -1px;
    z-index: 2;
}

.m-table tbody tr {
    background-color: #fff;
}


.m-table tbody td:first-child {
    position: sticky;
    left: -1px;
    background-color: inherit;
}


.m-table thead th:first-child {
    position: sticky;
    left: -1px;
    z-index: 4;
}

.m-table tbody td:last-child {
    position: sticky;
    right: -1px;
    background-color: inherit;
    border-left: 1px solid #c7c7c7;
}
.m-table thead th:last-child {
    position: sticky;
    right: -1px;
    z-index: 4;
    border-left: 1px solid #c7c7c7;
}

.t__optionbox {
    display: flex;
}

.t__optionbox button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.actions-list {
    position: absolute;
    border: 1px solid var(--clr-t-border);
    display: none;
    list-style-type: none;
    top: 36px;
    width: 130px;
    right: 5px;
    background-color: #fff;
}

.activee {
    display: block;
}


.actions-list > li:hover {
    background-color: var(--clr-t-border);
    color: var(--clr-lg500);
    cursor: pointer;
}

.above {
    z-index: 1;
}

.btn__expand {
    margin-left: 5px;
}

.li-data {
    padding: 8px;
}


.option__edit {
    color: rgb(55, 127, 223);
    font-weight: 500;
}





/* Table pagination */

.table__pag {
    width: 100%;
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    background-color: #fff;
    position: sticky;
    left: 0;
    bottom: -1px;
}

.pag__leftside {
    display: flex;
    align-items: center;
}

.pag__rightside {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
    align-items: center;
}

.pag__recordcount {
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding: 0 12px;
    position: relative;
}

.record__amount__select {
    width: 100%;
    background-color: #fff;
    border: 1px solid var(--clr-t-border);
    box-shadow: 2px 2px 4px gray;
    position: absolute;
    bottom: calc(100% + 14px);
}

.record__amount__select > ul {
    list-style-type: none;
    padding: 4px 0;
}

.record__amount__option {
    height: 36px;
    line-height: 36px;
    padding-left: 8px;
    background-color: #fff;
    cursor: pointer;
}

.amount--selected {
    color: #fff;
    background-color: var(--clr-lg500);
}


.pag__prev {
    border-radius: 4px;
}
.pag__next {
    border-radius: 4px;
}

/* Check box */

.t__checkbox {
    border-radius: 4px;
    border: 2px solid gray;
    cursor: pointer;
    text-align: center;
    line-height: 24px;
    background-color: #fff;
    color: #fff;
}

.t__checkbox--checked {
    border: none;
    background-color: var(--clr-lg400);
}


/* Animation */
.m-table tbody tr:hover {
    background-color: #f2f9ff;
}

.tr--selected {
    background-color: #b7d9f8 !important;
}

.record__amount__option:not(.amount--selected):hover {
    background-color: var(--clr-lg200);
}








